
Урок 1. Знакомство с Python/.idea/

Урок 2. Встроенные типы и операции с ними/.idea/

Урок 3 Функции/.idea/

Урок 7. ООП. Продвинутый уровень/.idea/

Урок4_Полезные_инструменты/.idea/

Урок5Файлы/.idea/

Урок6ООП/.idea/

Урок 8. ООП. Полезные дополнения/.idea/

Урок 8. ООП. Полезные дополнения/venv/
